asgiref
Babel
backcall
certifi
chardet
colorama
coreapi
coreschema
decorator
dj-database-url
Django
django-cors-headers
django-countries
django-filter
django-heroku
django-money
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
gunicorn
idna
inflection
ipython
ipython-genutils
itypes
jedi
Jinja2
MarkupSafe
packaging
parso
phonenumbers
pickleshare
Pillow
prompt-toolkit
psycopg2
py-moneyed
Pygments
PyJWT
pyparsing
pytz
requests
rest-framework-generic-relations
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
traitlets
uritemplate
urllib3
wcwidth
whitenoise
